
.logo-links
    a(href=links.twitter target="_blank" title="@HackFSU on Twitter"): i.fa.fa-twitter
    a(href=links.facebook target="_blank" title="HackFSU on Facebook"): i.fa.fa-facebook
    a(href=links.instagram target="_blank" title="HackFSU on Instagram"): i.fa.fa-instagram
    a(href=links.github target="_blank" title="HackFSU on GitHub"): i.fa.fa-github

.copyright &copy; #{moment().format('YYYY')} HackFSU
