extends ../../../_pug/userLayout.pug

block vars
    -
        var pageName = "Help Request View"
        var viewDir = "/static/views/mentor/request"

block append scripts
    script(src=`${viewDir}/script.js`)

block content
    h1 Help Request Details
    h3#status Loading
    form#help
        .form-section
            fieldset.row
                .field-label.col-md-2 My Name
                .col-md-10: input.responsive(type="text" name="attendee_name" disabled)
            fieldset.row
                .field-label.col-md-2 My Description
                .col-md-10: input.responsive(type="text" name="attendee_description" disabled)
            fieldset.row
                .field-label.col-md-3 Phone Number
                .col-md-10: input.responsive(type="tel" name="phone" maxlength=20 minlength=10 data-parsley-type="digits" placeholder="850-867-5309" required)
            fieldset.row
                .field-label.col-md-2 Location
                .col-md-10
                    select.responsive(name="location_floor" disabled)
                        option(value="3" data-img=locals.maps.dirac[3] selected)= locals.options.location_floor[3]
                        option(value="2" data-img=locals.maps.dirac[2])= locals.options.location_floor[2]
                        option(value="1" data-img=locals.maps.dirac[1])= locals.options.location_floor[1]
                    br
                    br
                    #floor-map
                        .map-pin(style="display:none"): .map-pin-icon-container: span.fa.fa-3x.fa-map-marker
                        img(width="100%" height="auto" src=locals.maps.dirac[3])

            fieldset.row
                .field-label.col-md-2 Details
                .col-md-10: textarea.responsive(name="request" disabled)

        .form-section.text-center
            .pull-left
                a(href="/mentor/"): button.btn.btn-form(type="button") Go Back
            .pull-right
                button.btn.btn-form(type="submit" style="display:none;")