extends ../layout

mixin info(label, value)
  div
    strong #{label}:
    |
    |
    span=value

block append styles
  link(rel='stylesheet', href='/css/profile.css')

block append content

  .background

  section.section.profile
    .container
      .columns.is-centered
        .column.is-two-thirds
          .content.box

            .name-wrap
              h1.title.is-1=profile.name

            .qr
              figure.image.is-128x128
                img(src=profile.qr)

            .info
              +info('Role', profile.groups.join(', '))
              +info('Email', profile.email)
              +info('Hexcode', '#' + profile.hexcode)

            .status
              h1.title.is-4
                | Status:
                |
                span=profile.acceptance

            if profile.show_rsvp
              form(method='post' action='/profile/rsvp')
                p Congratulations! You've been accepted.
                button.button.hackfsu.is-primary Click here to RSVP.

            if profile.rsvp_confirmed
              p.
                Thanks for RSVP'ing. Be on the lookout for emails with
                more details!
