extends ../../../_pug/standardLayout.pug

block vars
    -
        var pageName = "Hacker Registration"
        var viewDir = "/static/views/registration/hacker"

block append styles
    link(rel="stylesheet" type="text/css" href=`${viewDir}/style.css`)

block append scripts
    script(src="/static/bower_components/devbridge-autocomplete/dist/jquery.autocomplete.min.js")
    script(src="/static/js/plugins/schoolInput.js")
    script(src=`${viewDir}/script.js`)

block content
    h1 Hacker Registration
    form#register_hacker
        .form-section
            h2.form-section-title School Info
            fieldset.row
                label.col-md-2(for="student_type") I am a... *
                .col-md-4: select.responsive(name="student_type" required)
                    each val, key in locals.student_types
                        option(value=`${key}`)=val
            fieldset.row
                label.col-md-2(for="school") From... *
                .col-md-10
                    input.responsive(type="text" name="school" maxlength=100 placeholder="Your School" required)
            fieldset#year.row
                label.col-md-2(for="year") Current Year *
                .col-md-4: select.responsive(name="year" required)
                    option(value="" disabled selected) Select your school year
                    each val, key in locals.school_year_choices
                        option(value=`${key}`)=val
            fieldset#major.row
                label.col-md-2(for="major") Major *
                .col-md-10: input.responsive(type="text" name="major" maxlength=100 placeholder="Your Major" required)
        .form-section
            h2.form-section-title About You
            fieldset.row
                label.col-md-2(for="first_hackathon") Will this be your first hackathon? *
                .col-md-10
                    .col-md-2
                        input(type="radio" name="first_hackathon" value="true" required)
                        | Yes
                    .col-md-2
                        input(type="radio" name="first_hackathon" value="false" required)
                        | No

            fieldset.row
                label.col-md-2(for="over_18") Are you 18 years or older? *
                .col-md-10
                    .col-md-2
                        input(type="radio" name="over_18" value="true" required)
                        | Yes
                    .col-md-2
                        input(type="radio" name="over_18" value="false" required)
                        | No
            //- fieldset.row
                label.col-md-2(for="job") Looking for a job? *
                .col-md-4: select.responsive(name="job" required)
                    option(value="" disabled selected) Select option
                    each val, key in locals.job_seeker_options
                        option(value=`${key}`)=val
            fieldset.row
                label.col-md-2(for="resume") Your Resume
                .col-md-10: input.responsive(type="file" name="resume" placeholder="upload file" disabled)

            fieldset.row
                label.col-md-2(for="project-types") What are you interested in hacking?
                .col-md-10
                    .group
                        .flex-row
                            .flex-checkbox
                                input.project-type(type="checkbox" id="frontend")
                                | Front-End
                            .flex-checkbox
                                input.project-type(type="checkbox" id="backend")
                                | Back-End
                    .group
                        .flex-row
                            .flex-checkbox
                                input.project-type(type="checkbox" id="web")
                                | Web
                            .flex-checkbox
                                input.project-type(type="checkbox" id="hardware")
                                | Hardware
                    .group
                        .flex-row
                            .flex-checkbox
                                input.project-type(type="checkbox" id="ios")
                                | iOS
                            .flex-checkbox
                                input.project-type(type="checkbox" id="android")
                                | Android
                    .group
                        .flex-row
                            .flex-checkbox
                                input.project-type(type="checkbox" id="vr")
                                | Virtual Reality
                            .flex-checkbox
                                input.project-type(type="checkbox" id="design-hack")
                                | Design
                    textarea.responsive(type="text" maxlength=200 name="project-types" placeholder="Other...")
            button(type="submit") Submit
